.container{
    margin-top: 7rem;
}

/* Add smooth hover effect */
.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.03);
}

.card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
