.navbar-nav li p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1;
  }

  .navbar-nav .cart a {
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    margin-top: 8px;
  }
  
 .navbar-nav .category a{
  margin-top: 6px;
 }

  
   
  
 
  